{
    "presets": [
      [
        "@babel/preset-env", {},
        "@babel/preset-react"
      ]
    ],
    "plugins": [
      "inline-react-svg",
      [
        "@babel/plugin-transform-react-jsx",
        {
          "pragmaFrag": "React.Fragment"
        }
      ]
    ]
  }