**/*.ts
!**/*.d.ts
.git/
test/
react-test-app/
hooks/
.circleci/
lib/tsconfig.json
lib/babel.config.json
.mocharc.yml
lib/.prettierrc
lib/.eslintrc.js
lib/.eslintignore
lib/tslint.json
addDevTag
addReleaseTag
frontendDriverInterfaceSupported.json
.github/
.babelrc
.gitattributes