**/*.ts
**/*.tsx
!**/*.d.ts
.git/
test/
eslint/
hooks/
.circleci/
lib/tsconfig.json
lib/tsconfig_dev.json
lib/babel.config.json
.mocharc.yml
.prettierrc.json
.prettierrc
lib/.eslintrc.js
lib/.eslintignore
lib/tslint.json
addDevTag
addReleaseTag
frontendDriverInterfaceSupported.json
.github/
.babelrc
.gitattributes
examples/
.prettierignore
other/
jest.config.js
docs/
init.sh
supertokens-auth-react-*.tgz