**/*.ts
!**/*.d.ts
.git/
test/
eslint/
hooks/
.circleci/
lib/tsconfig.json
lib/babel.config.json
.mocharc.yml
.prettierrc.json
.prettierrc
lib/.eslintrc.js
lib/.eslintignore
lib/tslint.json
addDevTag
addReleaseTag
frontendDriverInterfaceSupported.json
.github/
.babelrc
.gitattributes
examples/
.prettierignore