.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@font-face {
    font-family: Menlo;
    src: url("../assets/fonts/MenloRegular.ttf");
}
