version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
    continuation: circleci/continuation@0.1.2
    slack: circleci/slack@3.4.2
    jq: circleci/jq@2.2.0
jobs:
    setup:
        machine:
            image: ubuntu-1604:201903-01

        steps:
            - checkout
            - run:
                  name: Generate config
                  command: |
                      cd .circleci && ./generateConfig.sh
            - continuation/continue:
                  configuration_path: .circleci/config_continue.yml # use newly generated config to continue

workflows:
    version: 2
    tagged-build:
        jobs:
            - setup
