.App {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100vw;
    height: 100vh;
    font-family: Rubik;
}

.fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.footer {
    align-self: "flex-end";
}
