input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: rgb(232, 240, 254);
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}