name: Auth-React Unit Tests

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - labeled
            - unlabeled
    push:
        branches:
            - "[0-9]+.[0-9]+"

# Only one instance of this workflow will run on the same ref (PR/Branch/Tag)
# Previous runs will be cancelled.
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    unit-tests:
        if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'run-tests')
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
            - run: npm install
            - run: npm run test-unit
