@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home .auth {
  padding: 24px;
  background-color: #eee;
  border-radius: 4px;
}

.home .auth h1 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.tenant-input {
  display: flex;
  align-items: center;

}

.tenant-input input {
  border: #ccc 1px solid;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: 'Poppins', sans-serif;
  color: #444;
  display: block;
}

.tenant-input span {
  color: #1976D2;
}

a.btn {
  background-color: #1976D2;
  padding: 4px 16px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 24px;
}

pre {
  max-width: 500px;
  overflow-x: auto;
}